a:link {
    color: red;
}

a:visited {
    color: orange
}

a:hover {
    color: hotpink;
}
a:active {
    color: blue;
}
.title{
    color:ivory;

    text-decoration: underline;
}
#content{
    background-image: url("../media/university1.jfif");
    background-repeat:no-repeat;
}
#page{
    background-image:linear-gradient(red,yellow);
    background-repeat:no-repeat;
    font-size: large;
    text-align: center;
}
hr{
   border-top: 2px dashed red;
    /*width: 30%;*/
}
.ol1{
    list-style-type: upper-roman;
}
.ol1,ol2{
    text-align:left;
}
.ol2{
    list-style-type: square;
}
ol{
color:orange;
}